@import "tailwindcss";
/* src/assets/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark {
  background-color: #121212;
  color: white;
}

body{
    box-sizing: border-box;
}